---
import AsideMenuItemReact from "./AsideMenuItem.tsx";
import AsideMenuItem from "./AsideMenuItem.astro";
import Tag from "./Tag.astro";
import AddIcon from "./icons/AddIcon.astro";
import HomeIcon from "./icons/HomeIcon.astro";
import LibraryIcon from "./icons/LibraryIcon.astro";
import SearchIcon from "./icons/SearchIcon.astro";
import ViewMoreIcon from "./icons/ViewMoreIcon.astro";
import HamburgerIcon from "./icons/HamburgerIcon.astro";
import SearchInput from "./SearchInput.astro";
---

<aside class="menu-wrapper">
  <nav class="h-full">
    <div class="bg-aside px-6 py-2 rounded-lg">
      <ul>
        <AsideMenuItem tag="a" href="/">
          <HomeIcon slot="icon" /> Inicio
        </AsideMenuItem>
        <AsideMenuItem tag="a" href="/search">
          <SearchIcon slot="icon" /> Buscar
        </AsideMenuItem>
      </ul>
    </div>
    <div class="bg-aside mt-2 px-4 py-1 rounded-lg h-full">
      <header>
        <ul>
          <li>
            <ul class="flex flex-row items-center gap-2">
              <AsideMenuItem
                tag="button"
                gap=".75rem"
                classes={{ root: "px-2" }}
              >
                <LibraryIcon slot="icon" />Tu biblioteca
              </AsideMenuItem>
              <AsideMenuItem tag="button" classes={{ root: "ml-auto" }}>
                <AddIcon slot="icon" />
              </AsideMenuItem>
              <AsideMenuItemReact tag="button">
                <ViewMoreIcon slot="icon" />
              </AsideMenuItemReact>
            </ul>
          </li>
          <li class="flex flex-row gap-2 mt-3">
            <Tag>Playlists</Tag>
            <Tag>Artistas</Tag>
            <Tag>Álbumes</Tag>
          </li>
        </ul>
      </header>
      <section class="mt-[2px]">
        <header>
          <ul class="flex flex-row justify-between">
            <AsideMenuItemReact
              tag="button"
              classes={{
                item: "absolute top-1/2 -translate-y-1/2",
                root: "relative flex flex-row items-center",
              }}
              id="search-button"
            >
              <SearchInput
                slot="component"
                visible={false}
                size="small"
                id="search-input"
              />
              <SearchIcon size="small" slot="icon" />
            </AsideMenuItemReact>
            <AsideMenuItemReact
              tag="button"
              iconPosition="right"
              classes={{ item: "gap-1 px-2 hover:scale-105", text: "font-normal text-sm" }}
            >
              Recientes <HamburgerIcon slot="icon" />
            </AsideMenuItemReact>
          </ul>
        </header>
      </section>
    </div>
  </nav>
</aside>

<style>
  .menu-wrapper {
    grid-area: "aside";
  }
</style>

<script>
  const button = document.getElementById("search-button");
  const searchInput = document.getElementById("search-input");
  button?.addEventListener("click", () => {
    console.log("hello");
    searchInput?.classList.add("open", "scale-in-hor-left");
    searchInput?.classList.remove("scale-out-hor-left");
  });

  const handler = (ev: UIEvent) => {
    if (!button?.contains(ev.target as Node) && ev.target !== searchInput) {
      searchInput?.classList.remove("open", "scale-in-hor-left");
      searchInput?.classList.add("scale-out-hor-left");
    }
  };

  document.addEventListener("click", handler);
  document.addEventListener("focusin", handler);
</script>
