---
import AsideMenuItemReact from "./AsideMenuItem.tsx";
import AsideMenuItem from "./AsideMenuItem.astro";
import Tag from "./Tag.astro";
import AddIcon from "./icons/AddIcon.astro";
import HomeIcon from "./icons/HomeIcon.astro";
import LibraryIcon from "./icons/LibraryIcon.astro";
import SearchIcon from "./icons/SearchIcon.astro";
import ViewMoreIcon from "./icons/ViewMoreIcon.astro";
---

<aside class="menu-wrapper">
  <nav class="h-full">
    <div class="bg-aside px-6 py-2 rounded-lg">
      <ul>
        <AsideMenuItem tag="a" href="/">
          <HomeIcon slot="icon" /> Inicio
        </AsideMenuItem>
        <AsideMenuItem tag="a" href="/search">
          <SearchIcon slot="icon" /> Buscar
        </AsideMenuItem>
      </ul>
    </div>
    <div class="bg-aside mt-2 px-4 py-1 rounded-lg h-full">
      <header>
        <ul>
          <li>
            <ul class="flex flex-row items-center gap-2">
              <AsideMenuItem
                tag="button"
                gap=".75rem"
                classes={{ root: "px-2" }}
              >
                <LibraryIcon slot="icon" />Tu biblioteca
              </AsideMenuItem>
              <AsideMenuItem tag="button" classes={{ root: "ml-auto" }}>
                <AddIcon slot="icon" />
              </AsideMenuItem>
              <AsideMenuItemReact tag="button">
                <ViewMoreIcon slot="icon" />
              </AsideMenuItemReact>
            </ul>
          </li>
          <li class="flex flex-row gap-2 mt-3">
            <Tag>Playlists</Tag>
            <Tag>Artistas</Tag>
            <Tag>Álbumes</Tag>
          </li>
        </ul>
      </header>
      <section class="mt-2">
        <header class="pt-0.5">
          <ul>
            <AsideMenuItemReact tag="button">
              <SearchIcon size="small" slot="icon" />
            </AsideMenuItemReact>
          </ul>
        </header>
      </section>
    </div>
  </nav>
</aside>

<style>
  .menu-wrapper {
    grid-area: "aside";
  }
</style>
